*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
  

}
ul,li,h1{
    display: inline;

}
ul{
    margin-left: 60%;
    
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: aliceblue;
    
}
input{
    width: 60%;
    padding: 15px;
    
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    display: inline-block;
    border-style: solid;
    width: 208px;
}
.Products{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: aliceblue;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

   